<!DOCTYPE html>
<html>

<head>
  <title>Home Page</title>

  <style type="text/css" media="screen">
    body {
      background-color: skyblue;
      text-decoration-color: white;
      font-size: 24px;
    }
  </style>
</head>

<body>
  <center>
    This is Quinn's RPS client.<br/>
    Welcome, <%=name%>!
  </center>
</body>

</html>